@charset "UTF-8";
.d-flex, .quick-menu, .video-container {
  display: flex;
}

.jcc, .search-container, .search-box {
  justify-content: center;
}

.jcb {
  justify-content: space-between;
}

.aic {
  align-items: center;
}

.aie {
  align-items: flex-end;
}

#hd {
  max-width: 120rem;
  height: 4.5rem;
  position: relative;
  z-index: 10;
}
#hd .container {
  margin: 0 auto;
  padding: 1.25rem 0;
}

#gnb a {
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: 700;
  padding: 0.625rem;
}
#gnb a:hover {
  color: #D68B30;
}

.Category-btn {
  border: none;
}

.top-logo {
  position: absolute;
  right: 51.9375rem;
  top: 1.3125rem;
  width: 8.5rem;
  height: 1.875rem;
}

.util {
  font-weight: 600;
  gap: 0.3125rem;
  justify-content: flex-end;
  padding: 0.3125rem 0.625rem;
}
.util svg {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.3125rem;
}

a {
  gap: 0.3125rem;
  text-decoration: none;
  color: #3F422F;
}

.mo-search {
  display: flex;
  width: 100%;
  height: 3rem;
  border-radius: 100px;
  padding: 5px 10px;
  border: 1px solid #DDD;
  gap: 0.313rem;
  margin-bottom: 10px;
}

.mo-search-btn {
  width: 100%;
  color: #777;
  border: none;
  font-weight: 500;
  text-align: left;
}

.offcanvas {
  width: 300px;
}

.list-group {
  margin-top: 20px;
}

.list-group-item {
  width: 60px;
  padding: 0px 5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
}

.icon_area_ej {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #EEE;
  padding: 0 5px;
}

.list-group-text {
  align-items: flex-start;
  gap: 10px;
  padding: 20px 5px;
}

a.list-group-reserve {
  width: calc(50% - 5px);
  align-items: flex-start;
  text-align: center;
  padding: 20px 5px;
}

.video-container {
  position: relative;
  max-width: 100%;
  height: calc(100vh - 80px);
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 0.625rem;
  z-index: -1;
}

.video-bg {
  position: absolute;
  max-width: 112.375rem;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: calc(100% - 30px);
  border-radius: 0.625rem;
  z-index: -1;
  -webkit-clip-path: inset(0 round 0.625rem);
          clip-path: inset(0 round 0.625rem);
}

.video-icon {
  position: absolute;
  bottom: 2.4923rem;
  justify-content: center;
}

.search-box,
.search-container {
  z-index: 20;
}

.search-box {
  position: absolute;
  max-width: 89.6875rem;
  height: 5rem;
  align-content: center;
  top: 4.5rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.search-container {
  position: absolute;
  width: 89.6875rem;
  height: 4.25rem;
  gap: 1.3125rem;
  align-items: flex-end;
  left: 50%;
  top: 4.5rem;
  transform: translateX(-50%);
}

.topwhere,
.topwhen {
  display: flex;
  max-width: 17.375rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  line-height: 1rem;
  font-weight: 700;
  margin: 0 0.625rem;
}

.textnowrap {
  padding: 0.625rem;
}

.search-container button {
  gap: 0.625rem;
  width: 17.375rem;
  padding: 0.625rem 0 0.625rem 1.25rem;
  border: 0.0625rem solid #DDD;
  border-radius: 3.125rem;
  background-color: #FFF;
  font-weight: 600;
  color: #777;
}
.search-container button svg {
  width: 1.4375rem;
  height: 1.4375rem;
  margin-right: 0.625rem;
  color: #3F422F;
}

.search-container .close-svg {
  position: absolute;
  top: 0;
  right: 2.5rem;
  background: none;
  border: none;
  width: 1.25rem;
  height: 1.25rem;
}

.search-container .search-btn {
  width: 6.3125rem;
  height: 2.5rem;
  padding: 0.9375rem 2.1875rem;
  background-color: #3F422F;
  color: white;
  font-weight: 600;
  border-radius: 3.125rem;
  text-align: center;
}

.quick-menu {
  position: fixed;
  bottom: 2.5rem;
  right: 3.125rem;
  width: 4.375rem;
  height: 17.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.quick-btn {
  width: 4.375rem;
  height: 4.375rem;
  border: 0.0625rem solid #DDD;
  flex-direction: column;
  font-weight: 500;
  text-align: center;
  border-top: none;
  justify-content: center;
}
.quick-btn:first-child {
  border-top: 0.0625rem solid #DDD;
}
.quick-btn svg {
  width: 1.5rem;
  height: 1.5rem;
}
.quick-btn span {
  display: block;
}

.btn-reserve {
  border-radius: 10% 10% 0 0;
  background-color: #FFF;
}

.btn-chat,
.btn-log {
  background-color: #FFF;
}

.btn-top {
  border-radius: 0 0 10% 10%;
}

h1 a img {
  max-width: 7.5rem;
  height: auto;
  transition: all 0.3s ease;
}

@media (max-width: 991px) {
  h1 a img {
    width: 5.6875rem;
  }
  .video-container {
    height: 21.875rem;
  }
  .video-bg {
    height: 21.875rem;
  }
  .search-box,
  .search-container {
    display: none; /* 작은 화면에서 검색 UI 숨김 */
  }
}
@media (max-width: 991px) and (min-width: 991px) { /* lg 이상에서는 기본 검색 UI 보이도록 */
  .mo-search {
    display: none;
  }
}