@charset "UTF-8";
.d-flex, .quick-menu, .video-container {
  display: flex;
}

.jcc, #hd .search-box .search-container {
  justify-content: center;
}

.jcb {
  justify-content: space-between;
}

.aic {
  align-items: center;
}

.aie {
  align-items: flex-end;
}

#hd {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
}
#hd .mo-search {
  display: flex;
  height: 2.5rem;
  border-radius: 100px;
  padding: 5px 10px;
  border: 1px solid #DDD;
  gap: 0.313rem;
  margin-bottom: 10px;
  position: relative;
  z-index: 1000000;
  transition: 0.5s;
}
#hd .mo-search.scrolled {
  /* position: fixed; */
  height: auto;
  /* left: 50%; */
  /* transform: translateY(-138%); */
  width: 50%;
  padding: 5px 15px;
  z-index: 100000;
  /* margin-top: 10px; */
  margin-top: -44px;
  margin-bottom: auto;
}
#hd .mo-search-btn {
  color: #5e5e5e;
  border: none;
  font-weight: 500;
  text-align: left;
}
#hd .ej_innertop {
  padding: 16px 0;
  position: relative;
  background-color: white;
  z-index: 1000;
}
@media (max-width: 990px) {
  #hd .ej_innertop {
    padding: 8px 0;
  }
}
#hd .search-box,
#hd .search-container {
  z-index: 20;
}
#hd .search-box {
  transition: 0.5s;
  transform: translate(-50%, 0);
  position: absolute;
  align-content: center;
  top: 100%;
  left: 50%;
  text-align: center;
}
#hd .search-box:before, #hd .search-box:after {
  content: "";
  display: block;
  width: 97px;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 96.73 80'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fff; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M96.73,80h-25.97c-14.03,0-27.04-7.35-34.27-19.37L0,0H96.73V80Z'/%3E%3C/svg%3E");
}
#hd .search-box:before {
  margin-right: -1px;
}
#hd .search-box:after {
  transform: scaleX(-1);
  margin-left: -1px;
}
#hd .search-box .search-container {
  gap: 1.3125rem;
  padding: 16px;
  position: relative;
  background-color: #fff;
  align-items: flex-end;
  /* max-width: 800px; */
  min-width: 800px;
  width: 64vw;
  max-width: 1280px;
  align-items: flex-end;
}

.modal {
  display: none; /* 처음에는 숨김 */
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  width: 970px;
  height: 620px;
  transform: translate(-50%, -50%);
  justify-content: center;
  border-radius: 10px;
}

.modal-text {
  margin-bottom: 30px;
  font-weight: 800;
  top: 44px;
}

.modal-content {
  padding-top: 20px;
  text-align: center;
  color: black;
}
.modal-content .modal-search-btn {
  margin: 0 auto;
  align-items: center;
  width: 468px;
  height: 40px;
  padding: 5px 15px;
  border-radius: 100px;
  border: 1px solid #DDD;
  gap: 5px;
}

.close {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 30px;
  color: gray;
  cursor: pointer;
}

.location-box {
  margin: 50px auto;
  width: 930px;
  height: 280px;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #DDD;
  justify-content: center;
  gap: 50px;
}
.location-box li {
  display: inline-flex;
  align-items: center;
  width: 80px;
  height: 30px;
  padding: 2px 15px;
  justify-content: center;
  font-weight: 400;
  color: #777;
  list-style: none;
}

.location-nm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.location-chk {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
}

.location-nm li.active,
.location-chk li.active {
  background-color: rgb(51, 46, 42) !important;
  color: white !important;
  border-radius: 100px;
  border: 1px solid rgb(51, 46, 42);
}

.divider {
  width: 1px;
  height: 50%;
  background-color: #ccc;
}

.modal-btn-set {
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.modal-btn-reset {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #DDD;
}

.modal-btn-search {
  width: 234px;
  height: 50px;
  padding: 10px;
  border-radius: 5px;
  color: #FFF;
}

.down #hd .search-box {
  transform: translate(-50%, -100%);
}
@media (max-width: 990px) {
  .down #hd .ej_innertop h1 {
    opacity: 0;
    visibility: hidden;
  }
}

#gnb a {
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: 700;
  padding: 0.625rem;
}
#gnb a:hover {
  color: #D68B30;
}

.Category-btn {
  border: none;
}

.top-logo {
  position: absolute;
  right: 51.9375rem;
  top: 1.3125rem;
  width: 8.5rem;
  height: 1.875rem;
}

.util {
  font-weight: 600;
  gap: 0.3125rem;
  justify-content: flex-end;
  padding: 0.3125rem 0.625rem;
}
.util svg {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.3125rem;
}

a {
  gap: 0.3125rem;
  text-decoration: none;
  color: #3F422F;
}

.offcanvas {
  width: 300px;
}

.list-group {
  margin-bottom: 20px;
}

.list-group-item {
  width: 60px;
  padding: 0px 5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
}

.icon_area_ej {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #EEE;
  padding: 0 5px;
}

.list-group-text {
  align-items: flex-start;
  gap: 10px;
  padding: 0;
}

a.list-group-reserve {
  width: calc(50% - 5px);
  align-items: flex-start;
  text-align: center;
}

.mob-top-text {
  position: relative;
}

.mob_menu_text {
  font-weight: 800;
}

.mob_menu {
  font-weight: 700;
}

.notice-wrapper {
  overflow: hidden;
  width: 100%;
  height: 30px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.mob_container {
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 90px;
  padding: 0;
  margin: 0;
}

.mob_notice {
  height: 30px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}

.notice_tag {
  font-weight: 900;
  line-height: 22px;
  margin-right: 10px;
}

.gray1 {
  text-decoration: none;
  font-weight: 500;
}

.video-container {
  position: relative;
  max-width: 100%;
  height: calc(90vh - 90px);
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 0.625rem;
  z-index: -1;
}

.video-bg {
  position: absolute;
  max-width: 112.375rem;
  height: 100%;
  top: 0px;
  left: 0;
  right: 0;
  margin: auto;
  width: calc(100% - 30px);
  border-radius: 0.625rem;
  z-index: -1;
  -webkit-clip-path: inset(0 round 0.625rem);
  clip-path: inset(0 round 0.625rem);
}

.video-icon {
  position: absolute;
  bottom: 2.4923rem;
  justify-content: center;
}

.topwhere,
.topwhen {
  display: flex;
  max-width: 17.375rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  line-height: 1rem;
  font-weight: 700;
  margin: 0 0.625rem;
}

.textnowrap {
  padding: 0.625rem;
}

.search-container button {
  gap: 0.625rem;
  width: 17.375rem;
  padding: 0.625rem 0 0.625rem 1.25rem;
  border: 0.0625rem solid #DDD;
  border-radius: 3.125rem;
  background-color: #FFF;
  font-weight: 600;
  color: #777;
}
.search-container button svg {
  width: 1.4375rem;
  height: 1.4375rem;
  margin-right: 0.625rem;
  color: #3F422F;
}

.search-container .close-svg {
  position: absolute;
  top: 0;
  right: -2rem;
  background: none;
  border: none;
  width: 1.25rem;
  height: 1.25rem;
}

.search-container .search-btn {
  width: 6.3125rem;
  height: 2.5rem;
  padding: 0.9375rem 2.1875rem;
  background-color: #3F422F;
  color: white;
  font-weight: 600;
  border-radius: 3.125rem;
  text-align: center;
}

.quick-menu {
  position: fixed;
  bottom: 2.5rem;
  right: 3.125rem;
  width: 4.375rem;
  height: 17.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.quick-btn {
  width: 4.375rem;
  height: 4.375rem;
  border: 0.0625rem solid #DDD;
  flex-direction: column;
  font-weight: 500;
  text-align: center;
  border-top: none;
  justify-content: center;
}
.quick-btn:first-child {
  border-top: 0.0625rem solid #DDD;
}
.quick-btn svg {
  width: 1.5rem;
  height: 1.5rem;
}
.quick-btn span {
  display: block;
}

.btn-reserve {
  border-radius: 10% 10% 0 0;
  background-color: #FFF;
}

.btn-chat,
.btn-log {
  background-color: #FFF;
}

.btn-top {
  border-radius: 0 0 10% 10%;
}

h1 a img {
  max-width: 7.5rem;
  height: auto;
  transition: all 0.3s ease;
}

@media (max-width: 991px) {
  h1 a img {
    width: 5.6875rem;
  }
  .video-container {
    height: 21.875rem;
  }
  .video-bg {
    height: 21.875rem;
  }
  .search-box,
  .search-container {
    display: none; /* 작은 화면에서 검색 UI 숨김 */
  }
}
@media (max-width: 991px) and (min-width: 991px) { /* lg 이상에서는 기본 검색 UI 보이도록 */
  .mo-search {
    display: none;
  }
}
.main_notice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 0.063rem solid #DDD;
  border-bottom: 0.063rem solid #DDD;
  background-color: #fff;
  width: 100%;
  padding: 10px 0;
}

.notice_swiper {
  width: 1440px;
  height: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.notice_swiper .swiper-wrapper {
  display: flex;
  flex-direction: column; /* 세로 방향으로 슬라이드 */
}

.notice_swiper .swiper-slide {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  color: #777;
  white-space: nowrap;
}