// Main Styles
.main_con {
    .container {
        padding: 0 6rem;
        @media (max-width:991px) {
            padding:0;
        }
    }
  
    .tit {
        text-align: center;
        position: relative;
        .point_txt {
            padding-bottom:0.625rem;
            @media (max-width:991px) {
                text-align:left;
            }
        }

        .main_tit {
            @media (max-width:991px) {
                text-align:left;
            }
        }

        .all-btn {
            position: absolute;
            top: 10px;
            right: 0;
            padding: 5px 25px;
            background: none;
            border-radius: 50px;
            @media (max-width:991px) {
                display:none;
            }
            
            
        }
    }

    .mo-all-btn {
        display: block;
        width:100%;
        padding:10px 0;
        font-size:16px;
        background:none;
        border-radius:50px;
        
    }

    .con_txt {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        gap:5px;
  
        .price {
            font-weight: 700;
            padding-bottom:5px;
            @media (max-width:480px) {
                font-size:16px;
            }
        }
  
        .percent {
            margin-right: 5px;
        }

        .won {
            text-decoration: line-through;
        }
    }
  
    .con_img {
        width: 100%;
        height: 100%;
    }
  
    .check_btn {
        display: none;
    }
}
  
// Main Con Four Styles
.main_con_four {
    .percent {
        color: #6c7734;
    }

    .all-btn, .mo-all-btn {
        border: 1px solid #ddd;
        &:hover {
            background:#3f422f;
            border:1px solid;
            color:#fff;
        }
    }

    .nowSwiper {
        @media (max-width:991px) {
            margin: 0 -10px;
        }
        @media (max-width:480px) {
            margin: 0 -5px;
        }
    }

    .swiper-slide {
        max-width: 294px;
        margin-right: 20px;
        @media (max-width:991px) {
            max-width: none;
            margin-right:0;
            padding: 0 10px 40px;
        }
        @media (max-width:480px) {
            max-width: none;
            margin-right:0;
            padding: 0 5px 40px;
        }
    }

    .same-pagination {
        position: relative;
        bottom:0;
        height:30px;
        display:flex;
        .swiper-pagination-bullet {
            width:100%;
            border-radius:0;
            margin:0;
            height:5px;
            background:#aaa;
        }
        .swiper-pagination-bullet-active {
            background:#6c7734;
        }
    }

    .same-button-next,
    .same-button-prev {
        width: 3.75rem;
        height: 3.75rem;
        border-radius: 0.625rem;
        position: absolute;
        top: 50%;
        @media (max-width:991px) {
            display:none;
        }
    }

    .same-button-next {
        background: url("https://item-team-sosul.vercel.app/img/icon/arrow_right.svg") no-repeat;
        background-position: center;
        background-size: cover;
        right: 0;
    }

    .same-button-prev {
        background: url("https://item-team-sosul.vercel.app/img/icon/arrow_left.svg") no-repeat;
        background-position: center;
        background-size: cover;
        margin-right: -0.313rem;
        left: 0;
    }

    .same-button-next::after,
    .same-button-prev::after {
        display: none;
    }

    .con_img_box {
        max-height: 200px;
        overflow: hidden;
        border-radius: 10px;
        @media (max-width:991px) {
            max-height: 300px;
        }
    }

    .con_tabBox {
        display:none;
        &:first-of-type {
            display:block;
        }
    }
}

// Main Con Three Styles
.main_con_three {
        background: #faf6f3;

    .all-btn, .mo-all-btn {
        border: 1px solid #c3b8ab;
        color: #9c8972;
        &:hover {
            background:#b6996f;
            border:1px solid;
            color:#fff;
        }
    }

    .swiper-slide {
        max-width: 403px;
        margin-right: 20px;

        &:last-child {
                margin-right: 0;
        }
    }

    .mobile {
        .swiper-container {
            overflow: hidden;
            margin-bottom:20px;
        }
        .swiper-slide {
            max-width: none;
        }

        .con_img_box {
            img {
                border-radius:10px;
            }
        }

        .won, .percent, .review {
            display: none;
        }

        .basic_txt {
            line-height: 1.5;
        }

        #swiper1 {
            margin-bottom: 10px;
            .swiper-slide {
                position: relative;
                overflow: hidden;
                border-radius: 10px;
                .con_txt {
                    position:absolute;
                    bottom:0;
                    left:0;
                    width:100%;
                    z-index: 1;
                    padding:25px 20px;
                    color:#fff;
                }
                .con_img_box {
                    height:100%;
                }

                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 70%;
                    bottom: 0;
                    left: 0;
                    z-index: 0;
                    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
                }
                .location {
                    font-size:16px;
                    color:#fff;
                }                   
                .won2, .camping {
                    color:#fff;
                    font-size:20px;
                }
            } 
        }

        #swiper2 {
            .swiper-slide {
                margin:0;
                padding:0px 0 10px;
                border-bottom:1px solid #E7DDD0;
            }
            .con_box {
                display:flex;
                align-items: center;
            }
            .con_img_box {
                width:39%;
                height:100%;
                margin-right:10px;
            }
            .con_txt {
                width:59%;
                padding:0;
            }
            .won2 {
                font-size: 16px;
            }
        }
    }

    .con_img_box {
        height: 260px;
        overflow: hidden;
        border-radius: 10px;
    }

    .here-button-next,
    .here-button-prev {
        width: 3.75rem;
        height: 3.75rem;
        border-radius: 0.625rem;
        position: absolute;
        top: 50%;
        @media (max-width:991px) {
            display:none;
        }
    }

    .here-button-next {
        background: url("https://item-team-sosul.vercel.app/img/icon/arrow_right.svg") no-repeat;
        background-position: center;
        background-size: cover;
        right: 0;
    }

    .here-button-prev {
        background: url("https://item-team-sosul.vercel.app/img/icon/arrow_left.svg") no-repeat;
        background-position: center;
        background-size: cover;
        margin-right: -0.313rem;
        left: 0;
    }

    .here-button-next::after,
    .here-button-prev::after {
        display: none;
    }
    
}

// 모바일 바텀 css
.mobile_bottom { 
    display: flex;
    width: 100%;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0; right: 0;
    width: 100%;
    z-index: 10;
    border-top: 1px solid #ddd;
    

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0;        
        flex-direction: column;
        width:20%;
        color:#aaa;
        &:hover {
            svg line, svg path {
                stroke: #3f422f;
            }
            color: #3f422f;
        }
    }
}

//로그인 페이지
.Login{
    display: flex;
    justify-content: center;
    color: black;
    padding: inherit;
    margin-bottom: 50px;
}
.login {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 15%;

    .sub0 { 
        display: flex;
        justify-content: space-between;
        margin-right: -58%;
    }
    .sub2{
        text-decoration: underline;
    }
    .input-group {
        text-align: center;
        color: #777777;
    }
    .input-group input {
        width: 454px;
        border-radius: 20px;
        border: none;
        background-color: #d9d9d9;
        color: #777;
        box-sizing: border-box;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    
    button.login-btn {
        width: 100%;
        padding: 10px;
        margin-top: 20px;
        margin-bottom:40px;
        background-color: #d9d9d9;
        color: #777777;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }
    
    button.login-btn:hover {
        background-color: #D68B30;
        color: #ffffff;
    }
    
/* Hide default checkbox */
input[type="checkbox"].custom-checkbox {
    display: none;
}

/* Create custom checkbox */
input[type="checkbox"].custom-checkbox + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
}

/* Custom checkbox appearance */
input[type="checkbox"].custom-checkbox + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    transition: background-color 0.3s, border-color 0.3s;
}

/* Change color when checked */
input[type="checkbox"].custom-checkbox:checked + label::before {
    background-color: #D68B30;  /* Change the background color */
    border-color: #D68B30;     /* Change the border color */
}

}