@charset "UTF-8";
@media (max-width: 991px) {
  .modal-overlay_sy {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #F5F3F1;
    z-index: 1050;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    overflow-y: auto;
  }
  .modal-content_sy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    color: #2E2B28;
    padding-bottom: 12px;
    text-align: center;
  }
  .syinput {
    display: flex;
    position: relative;
    width: 100%; /* 텍스트박스가 100% 가로로 확장되도록 */
    height: 40px; /* 높이 설정 */
  }
  .search-icon {
    position: absolute;
    left: 10px; /* 아이콘을 왼쪽으로 10px */
    top: 50%; /* 세로 중앙에 위치 */
    transform: translateY(-50%); /* 정확한 세로 중앙 정렬 */
    z-index: 1; /* 아이콘이 텍스트 입력창 위로 오도록 */
  }
  .rounded-input_sy {
    width: 100%; /* 텍스트 입력박스가 100% */
    height: 40px; /* 텍스트박스 높이 */
    z-index: 0; /* 텍스트 입력창이 아이콘 아래로 오지 않도록 */
  }
  input {
    width: 100%;
    height: 3rem;
    border: none;
    background: transparent; /* 배경 투명 */
    font-size: 14px;
    color: #332E2A;
    padding-left: 35px; /* 아이콘과 텍스트 간 여백 */
    padding-right: 35px; /* 아이콘과 텍스트 간 여백 */
    z-index: 0;
  }
  .close-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #2E2B28;
  }
  .syinput_2 {
    display: flex;
    height: 2.5rem;
    margin-top: 25px;
  }
  .syinput_2 input {
    width: 100%;
    height: 100%;
  }
  .where_sy {
    border: 1px;
  }
  .search-box_sy {
    width: 100%;
    background: white;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #D9D4CF;
    margin-top: 12px;
  }
  .search-box_sy input {
    width: 100%;
    border: none;
    background: transparent;
    font-size: 14px;
    outline: none;
    color: #2E2B28;
    text-align: center;
  }
  .tabs_sy {
    display: flex;
    width: 100%;
    height: 3rem;
    margin-top: 5px;
  }
  .tab-btn {
    flex: 1;
    text-align: center;
    font-size: 14px;
    padding: 10px 0;
    color: #2E2B28;
    border: none;
    background: transparent;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .tab-btn.active {
    font-weight: bold;
    background-color: #3d322c;
    color: white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .tab-content_sy,
  .tab-tab_sy {
    width: 100%;
    background: white;
    border-radius: 8px;
    border: 1px solid #D9D4CF;
    margin-top: 12px;
  }
  .tab-content_sy {
    display: none;
  }
  .calendar_sy {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #D9D4CF;
    margin-top: 12px;
    background: white;
    text-align: center;
  }
  .calendar_sy input {
    width: 100%;
    border: none;
    font-size: 14px;
    color: #2E2B28;
  }
  .rounded-input_sy {
    position: relative;
    width: 100%;
    padding-left: 40px;
    font-size: 14px; /* 텍스트 크기 설정 */
    border: none;
    border-bottom: 1px solid #ccc;
    height: 45px;
  }
  .reset_sy {
    background-color: white;
    margin-top: 16px;
    border: none;
    border-radius: 6px;
  }
  .bottom_sy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 16px;
  }
  .search-btn_sy {
    width: 80%;
    background: #3D322C;
    color: white;
    padding: 14px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 16px;
    font-weight: bold;
  }
  .search-btn_sy:hover {
    background: #1f1a17;
  }
  .tab-container_sy {
    display: flex;
    flex-direction: column;
  }
  .tab-container_sy .tabs_sy2all {
    margin-top: 1.25rem;
  }
  .tab-container_sy .tabs_sy2, .tab-container_sy .tabs_sy2all {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .tab-container_sy .tabs_sy2 .tab-checkbox-label, .tab-container_sy .tabs_sy2all .tab-checkbox-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 85px;
    justify-content: center;
    margin-bottom: 20px;
  }
  .tab-container_sy .tabs_sy2 .tab-checkbox-label .tab-checkbox, .tab-container_sy .tabs_sy2all .tab-checkbox-label .tab-checkbox {
    display: none; /* 기본 체크박스를 숨깁니다. */
  }
  .tab-container_sy .tabs_sy2 .tab-checkbox-label .tab-checkbox + span, .tab-container_sy .tabs_sy2all .tab-checkbox-label .tab-checkbox + span {
    color: #332E2A;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.24px;
    text-transform: uppercase;
    padding: 2px 15px;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
    border-radius: 12px;
    display: flex;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .tab-container_sy .tabs_sy2 .tab-checkbox-label .tab-checkbox + span:hover, .tab-container_sy .tabs_sy2all .tab-checkbox-label .tab-checkbox + span:hover {
    background: var(--New-group-Panton-Black-C, #332E2A);
    color: var(--New-group-Ivory, #FAF5EE);
  }
  .tab-container_sy .tabs_sy2 .tab-checkbox-label .tab-checkbox:checked + span, .tab-container_sy .tabs_sy2all .tab-checkbox-label .tab-checkbox:checked + span {
    background: var(--New-group-Panton-Black-C, #332E2A);
    color: var(--New-group-Ivory, #FAF5EE);
  }
}
.res_sy_textbox {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 0;
}
.res_sy_textbox .res_sy_text {
  text-align: center;
  min-width: 150px;
}
.res_sy_textbox .res_sy_text h5 {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}
.res_sy_textbox .res_sy_text p {
  font-size: 14px;
  color: #666;
}
@media (max-width: 768px) {
  .res_sy_textbox {
    flex-direction: column;
    align-items: center;
  }
}